.left-layout {
    height: 100vh;
    border-right: 1px solid;
    border-color: $color-yahoo-border;

    .history-chat {
        height: 75px;
        cursor: pointer;
        box-shadow: unset;

        &:hover {
            background-color: $color-yahoo-hover;
        }

        &:active {
            background-color: $color-yahoo-active;
        }
    }

    .image-frame {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
    }
}
